In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import tree
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score

In [2]:
db = pd.read_csv('../Spam_URL_Detection/data-set/spam_URL.csv')

In [3]:
db

                                                      url  is_spam
0       https://briefingday.us8.list-manage.com/unsubs...     True
1                                  https://www.hvper.com/     True
2                      https://briefingday.com/m/v4n3i4f3     True
3        https://briefingday.com/n/20200618/m#commentform    False
4                             https://briefingday.com/fan     True
...                                                   ...      ...
148298  https://cdn.substack.com/image/fetch/f_auto,q_...     True
148299             https://numlock.substack.com/subscribe     True
148300  https://docs.google.com/forms/d/e/1FAIpQLSfDLO...     True
148301                     https://bookclub.substack.com/     True
148302                       https://awards.substack.com/     True

[148303 rows x 2 columns]

In [4]:
db.shape

(148303, 2)

In [5]:
db.describe()

                                         url is_spam
count                                 148303  148303
unique                                 87581       2
top     https://www.bloomberg.com/tosv2.html   False
freq                                    1086  101021

In [6]:
db.groupby(db['is_spam']).size() #total records=148,303. Not Spam= 101,021  spam=47,282

is_spam
False    101021
True      47282
dtype: int64

In [7]:
db['is_spam'] = db.is_spam.apply(str)  # Convert boolean column to string column

In [8]:
db['is_spam'] = db['is_spam'].apply(lambda x : 1 if x == "True" in x else 0)

In [9]:
db

                                                      url  is_spam
0       https://briefingday.us8.list-manage.com/unsubs...        1
1                                  https://www.hvper.com/        1
2                      https://briefingday.com/m/v4n3i4f3        1
3        https://briefingday.com/n/20200618/m#commentform        0
4                             https://briefingday.com/fan        1
...                                                   ...      ...
148298  https://cdn.substack.com/image/fetch/f_auto,q_...        1
148299             https://numlock.substack.com/subscribe        1
148300  https://docs.google.com/forms/d/e/1FAIpQLSfDLO...        1
148301                     https://bookclub.substack.com/        1
148302                       https://awards.substack.com/        1

[148303 rows x 2 columns]

In [12]:
db = url.iloc[:,0]

NameError: name 'url' is not defined

NameError: name 'url' is not defined